@import url("../../../styles/theme.less");
.container {
  width: 690px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  color: @white-color;
}
.staff {
  color: @white-color;
  font-size: @font-size-xl;
  font-weight: bold;
}
