@import url("../../styles/theme.less");
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(243, 10, 41), rgba(252, 216, 216, 0));
}
.userInfo {
  width: 710px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.name {
  font-size: @font-size-large;
  font-weight: bold;
  color: @white-color;
  padding-left: 20px;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.content {
  width: 100vw;
  display: flex;
  height: calc(100% - 140px);
  flex-direction: column;
  margin-top: 40px;
  background-color: @white-color;
  border-top-left-radius: @border-radius-large;
  border-top-right-radius: @border-radius-large;
}
.line {
  font-size: @font-size-xl;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @divider-color-weak;
}
.info {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: @background-color-weak;
  overflow: scroll;
}
